<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" ></script>
        <script src="/javascripts/global.js" ></script>
        <h3>Welcome to {{ title }}</h3>
        <div id="wrapper">
            <h2>Users List</h2>
            <div id="userList">
                <table>
                    <thead>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Delete ?</th>
                    </thead>    
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>

